@model Childcare.Models.Child

@{
    ViewBag.Title = "Edit";
}

<h2>Update Child</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.childid)
        <div class="form-group">
            @Html.LabelFor(model => model.childid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.childid, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "color:red"} })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.childname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.childname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.childname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.childdob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.childdob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.childdob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.childaddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.childaddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.childaddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.childgender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.childgender, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.childgender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
