@model IEnumerable<Childcare.Models.ChildDay>

@{
    ViewBag.Title = "Index";
}

<h2>Child Day</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Child.childname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>@Html.ActionLink("Create Child Day", "Create", null, new { @style = "color:red" })</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Child.childname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @*Html.ActionLink("Edit", "Edit", new { id=item.childid, day=item.Day}) |*@
            @Html.ActionLink("Details", "Details", new { id = item.childid, day = item.Day })  |
            @Html.ActionLink("Delete", "Delete", new { id = item.childid, day = item.Day }) 
        </td>
    </tr>
}

</table>
