@model IEnumerable<Childcare.Models.ChildGuardian>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.childid)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Child.childname)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Guardian.guardianid)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.Guardian.guardianname)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.Guardian.guardianrelationship)
    </th>


</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Child.childid).ToString(), 
           "Edit", "Child", new { id = item.Child.childid }, null)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Child.childname)
        </td>

        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Guardian.guardianid).ToString(), 
           "Edit", "Guardian", new { id = item.Guardian.guardianid }, null)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Guardian.guardianname)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Guardian.guardianrelationship)
        </td>

        

            
    </tr>
}
</table>
